<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js"></script>
<!--    <script src="{{ url_for('static', filename='network.js') }}"></script>-->
    <script defer src="{{ url_for('static', filename='testing.js') }}"></script>

    <title>Title</title>
</head>
<body>

<style>
    html, body, .container {
        height: 99%;
        width: 99%;
    }

    #graph {
        height: 100%;
    }

</style>

    <div class="container">
        <div id="graph"></div>
    </div>

</body>
</html>